@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  list-style: none;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

@layer components {
  .btn-primary {
    @apply px-8 py-3;
    @apply inline-flex items-center justify-center;
    @apply rounded-md bg-black  text-white;
    @apply hover:bg-[#FF5D56];
    @apply transition-all duration-500;
  }

  .btn-outline {
    @apply px-8 py-3;
    @apply inline-flex items-center justify-center;
    @apply rounded-md border border-white text-white;
    @apply hover:border-[#FF5D56] hover:text-[#FF5D56];
    @apply transition-all duration-500 ease-in-out;
  }
  .btn-sm {
    @apply px-3 py-2;
    @apply inline-flex items-center justify-center;
    @apply border border-[#333] rounded-md text-white text-sm;
    @apply hover:border-[#FF5D56] hover:text-[#FF5D56];
    @apply transition-all duration-500;
  }

  .animated-btn {
    @apply relative tracking-wide capitalize text-[16px] inline-block text-center font-medium px-8 py-3 bg-transparent;
    @apply border border-[#FF5D56] rounded-md shadow-lg text-white no-underline;
    @apply transition-all duration-300 ease-in-out z-[1];
    @apply hover:text-white focus:text-white before:absolute before:top-0 before:left-1/2 before:right-1/2 before:bottom-0 before:opacity-0 before:content-[''] before:bg-[#FF5D56] before:z-[-1];
    @apply before:transition-all before:duration-700 before:ease-in-out hover:before:left-0 hover:before:right-0 hover:before:opacity-100 active:scale-90;
  }
}

.active {
  @apply text-[#FF5D56] font-bold;
}
